body{

height: 100vh;
margin: 0;


}


main {
display: flex;
justify-content: center;
align-items: center;
height: inherit;
    
}

#game{
    display: block;
}


 
 
 
 .tabuleiro {
    display: block;
    Width: 256px;
    Height: 256px;
    border-radius: 8px;
    border: solid 8px;
    border-color: #505050;
    background-color: gray;
    box-shadow: 4px 4px 4px black;
    
    
    
 }